.full-width{
    grid-column: 1 / -1;
    width: calc(100% - 0.8em);
    margin: 0 0.4em;
}

/*body{
    
}*/

.content{
    display:grid;
    margin-top: 0.2em;
}

/*
.waves-input-wrapper{
    grid-column: 1 / -1;
    width: calc(100% - 0.4em);
}*/